/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import "~font-awesome/css/font-awesome.css";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#task-form {
  input[type="text"] {
    appearance: none;
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    display: block;
    font-size: 1.6rem;
    letter-spacing: -0.015em;
    margin: 0;
    max-width: 100%;
    padding: 1.5rem 1.8rem;
    width: 100%;
  }
  .field-container {
    position: relative;
    margin-bottom: 2rem;
    div {
      text-align: right;
      button {
        font-family: "Open Sans", sans-serif;
        border: none;
        background-color: #cd2653;
        padding: 1rem;
      }
    }
  }
  .field-msg {
    font-family: "Open Sans", sans-serif;
    display: none;
    position: absolute;
    left: 2px;
    bottom: -14px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    &.show {
      display: block;
    }
  }
  .error {
    color: rgb(144, 19, 19);
  }
  .success {
    color: rgb(47, 129, 47);
  }
}
.to-do-list-post-area {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.done h6 {
        color: grey;
        text-decoration: line-through;
      }
      .single-task__icons {
        display: flex;
        .updateBtn {
          i {
            margin-top: 0.6rem;
            @media (max-width: 767px) {
              margin-top: 0.4rem;
            }
          }
        }
      }
      h6 {
        margin: 0;
        font-weight: normal;
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif;
      }
    }
    a {
      text-decoration: none;
      i.fa-check-square-o {
        margin-right: 0.5rem;
      }
      i.fa-square-o {
        margin-right: 0.8rem;
      }
    }
  }
}
